.info {
  text-align: center;
}
#form_table {
  margin-top: 5%;
  width: 80%;
  float: left;
  margin-left: 10%;
  background-color: rgb(224, 220, 220);
  column-count: 6;
}

#form_table p {
  font-weight: bold;
  margin-top: 1%;
  float: left;
  margin-left: 6px;
}

#form_table .longInput,
select {
  float: left;
  margin-bottom: 1%;
  width: 90%;
  height: 80%;
  margin-left: 6px;
}

#form_table .month {
  margin-left: 4%;
}

#form_table .dob {
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  width: 50%;
  height: 80%;
}

#form_table tr,
td {
  border: solid 1px rgba(0, 0, 255, 0);
}

.info .submit {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 18%;
  height: 10%;
  font-size: 120%;
  font-weight: bold;
  background-color: rgba(31, 70, 243, 0.479);
}
