.Feedback {
  margin-top: 8%;
}
.title {
  float: left;
}
.input {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 100%;
  float: left;
}
.tableInput {
  width: 100%;
  height: 100%;
  float: left;
}
