.header {
  text-align: center;
  margin-top: 2%;
}

.dot {
  position: absolute;
  top: 60%;
  bottom: 10%;
  right: 10%;
  left: 50%;
  width: 1.5%;
  min-width: 0.8em;
  height: 1.5%;
  min-height: 0.8em;
  font-weight: bold;
  font-size: 100%;
  color: black;
  cursor: pointer;
}

.map {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 30em;
  min-height: 20em;
}

.txt {
  font-weight: bold;
}

.note {
  width: 10%;
  height: 10%;
  float: right;
  margin-right: 5%;
}

.grid {
  margin-left: 35%;
  border-color: blue;
}
