.header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.dot {
  position: absolute;
  top: 75%;
  bottom: 10%;
  right: 10%;
  left: 50%;
  width: 1.5%;
  height: 1.5%;
  font-weight: bold;
  font-size: large;
  color: black;
  cursor: pointer;
}

.map {
  width: 85%;
  height: 85%;
}

.grid {
  position: absolute;
  top: 120%;
  left: 80%;
}

.txt {
  font-weight: bold;
}

.img {
  width: 2%;
  height: 2%;
}
