@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.loginHeader {
  margin-top: 0%;
  margin-bottom: 5%;
  text-align: center;
}
