.menu {
  width: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 32%;
  margin-right: 32%;
}

.menu img {
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  width: 20%;
  height: 20%;
  float: right;
}

.header {
  text-align: center;
}
