.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
  list-style-type: none;
}

.bigHeading {
  text-align: center;
  font-size: 250%;
  font-weight: 800;
  margin-bottom: 0;
  color: rgb(33, 72, 155);
}

.smallHeading {
  text-align: center;
  font-size: 150%;
  font-weight: bolder;
  margin-bottom: 2%;
  color: rgb(33, 72, 155);
}

.notification_image {
  width: 17%;
  margin-left: 5%;
  margin-top: 0;
  float: left;
}

.notification_bullet {
  width: 5%;
  margin-right: 5px;
}

#dropdown-no-caret {
  text-decoration: none;
}

.newAlert {
  background-color: red;
}

.dropdown-menu {
  /* margin-top: 20%; */
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.dropdownMessage {
  border-radius: 4px;
  background-color: rgba(125, 134, 216, 0.781);
  font-weight: bold;
  text-align: left;
  width: 270px;
}

.messageLength {
  width: 230px;
  color: rgba(0, 0, 0, 0.63);
}

#dropdownOption {
  background-color: rgba(125, 134, 216, 0.781);
}

#dropdownOption a {
  text-decoration: none;
  color: rgb(13, 3, 145);
  text-shadow: 1px 0px 1px white;
}
