.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
  list-style-type: none;
}

.bigHeading {
  text-align: center;
  font-size: 250%;
  font-weight: 800;
  margin-bottom: 0;
  color: rgb(33, 72, 155);
}

.smallHeading {
  text-align: center;
  font-size: 150%;
  font-weight: bolder;
  margin-bottom: 2%;
  color: rgb(33, 72, 155);
}

.notification_image {
  width: 17%;
  margin-left: 5%;
  margin-top: 0;
  float: left;
}

#dropdown-no-caret {
  text-decoration: none;
}

.newAlert {
  background-color: red;
}

.dropdown-menu {
  margin-top: 20%;
}
